<ul class="nav nav-pills">
    <li class="nav-item"> <a class="nav-link" href="#" (click)="setTab(1)" [class.active]="tab === 1">Description</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#" (click)="setTab(2)"[class.active]="tab === 2">Colors</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#" (click)="setTab(3)"[class.active]="tab === 3">Reviews</a> </li>
</ul>
<div *ngIf="tab === 1">
    <p>{{gem.description}}</p>
</div>
<div *ngIf="tab === 2">
    <h6>Colors available</h6>
    <ul>
        <li *ngFor="let color of gem.colors">{{color}}</li>
    </ul>
</div>
<div *ngIf="tab === 3"> 
    <app-reviews [gem]="gem"></app-reviews>
</div>